.display {
    grid-column: span 4;  /*informa quantas colunas a grid vai ocupar */
    background-color: #0004;

    display:flex;
    justify-content:flex-end;  /*fica do lado direito  */
    align-items: center;
    padding:20px;
    font-size: 2.1em;
    overflow: hidden;
}